header{
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
    font-family: Questrial;
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;

}

#usuario{
    color: #76BB4C !important;
    font-size: 20px;
}

#exit{
    text-decoration: none;
    color: #6033AA;
}
