.wrapper{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    border: 1px solid #c5c5c5;
    padding: 15px 20px;
    font-family: Questrial;
}

.user-info{
    display: flex;
    
}

.user-personal-data{
    margin: 10px;
}

.nome{
    color: #76BB4C;
    margin: 0;
}
.user-personal-data ul{
    padding: 0px 3px;
}

.user-personal-data ul li {
    list-style: none;
}

.edit-profile{
    padding-top: 35px;
}

#edit-profile-link {
    background-color: #76BB4C;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 10px;
    padding: 6px 14px;
    border-radius: 30px;
    font-size: 16px;
}