#container-posts{
    background-color: #f5f5f5;
}

.user-tweet{
    margin: 0px 15px
}

span{
    color: #909090;
}

p{
    color: #000000;
    font-size: 16px;
}

#no-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    height: 60vh;
    border: 1px solid #c5c5c5;
    padding: 40px 20px;
    background-color: #FFFFFF;
}

#no-posts p{
    font-size: 22px;
    color: #909090;
}

